.bg-dark {
    background-color: rgb(56,56,56);
}
.text-white {
    color: rgb(68, 55, 55);
}

.custom-image {
    border-radius:  30px;
    padding: 200px;
    width: calc(100% - 40px);
}

.text-bold {
    font-weight: bold;
}

.custom-buttons button, .custom-buttons div {
    color: rgb(39, 31, 31);
    border-color: rgb(71, 55, 55);

}

.shopping-cart {
    position: fixed;
    right: 20px;
    top: 10px;
}

.disabled {
    border-color: grey !important;
    border: left 1px solid white !important;
    color: grey !important;
  

}